<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
</head>
<body>
    <div class="main-content">
        <header>
            <h1>Welcome Admin</h1>
        </header>
        
        <section id="Users">
            <h2>Users</h2>
            <div class="box"></div>
            <div class="table-container">
                <table>
                    <thead>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>Role</th>
                            <th>Email ID </th>
                            <th>Sponsor ID</th>
                            <th>Influencer ID</th>
                            <th colspan="2">Active</th>
                    </thead>
                    <tbody>
                        {% for entry in users %}
                        <tr>
                        <td>{{ entry.id }}</td>
                        <td>{{ entry.user_name }}</td>
                        <td>{{ entry.user_role }}</td>
                        <td>{{ entry.email }}</td>
                        <td>{% if entry.sponsor_id is not none %}
                                {{ entry.sponsor_id }}
                            {% endif %}
                        </td>
                        <td> 
                            {% if entry.influencer_id is not none %}
                                {{ entry.influencer_id }}
                            {% endif %}
                        </td>
                        <td>{{entry.active}}</td>
                        <td>
                            <form method="POST" action="{{ url_for('admin_flag') }}">
                                <input type="hidden" name="user_id" value="{{ entry.id }}">
                                <button type="submit">Toggle</button>
                            </form>
                        </td>
                        {% endfor %} 
                    </tbody>

                </table>
            </div>
        </section>
        <section id="Campaigns">
            <h2>Campaigns</h2>
            <div class="box"></div>
            <div class="table-container">
                <table>
                    <thead>
                            <th>Campaign ID</th>
                            <th>Campaign Name</th>
                            <th>Sponsor ID</th>
                            <th>Revenue Expected</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Campaign Niche</th>
                            <th>Visiblity</th>
                            <th colspan="2"> Approval Status</th>

                            <!-- <th>Notes</th> -->
                    </thead>
                    <tbody>
                        {% for entry in campaigns %}
                        <tr>
                        <td>{{ entry.campaign_id }}</td>
                        <td>{{ entry.campaign_name}}</td>
                        <td>{{ entry.sponsor_id }}</td>
                        <td>{{ entry.revenue_expected }}</td>
                        <td>{{ entry.start_date }}</td>
                        <td>{{ entry.end_date }}</td>
                        <td>{{ entry.campaign_niche }}</td>
                        <td>{{ entry.visibility }}</td>
                        <td>{{ entry.campaign_approval }}</td>
                        <td> 
                            <form method="POST" action="{{ url_for('admin_approval') }}">
                                <input type="hidden" name="campaign_id" value="{{ entry.campaign_id }}">
                                <button type="submit">Toggle</button>
                            </form>
                        </td>
                        {% endfor %} 
                    </tbody>

                </table>
            </div>
        </section>
        <section id="Advertisements">
            <h2>Advertisements</h2>
            <div class="box"></div>
            <div class="table-container">
                <table>
                    <thead>
                            <th>AdvertisementID</th>
                            <th>Advertisement Name</th>
                            <th>Campaign ID</th>
                            <th>Campaign Niche</th>
                            <th>Provided Budget</th>
                            <th>Status</th>
                            <!-- <th>Notes</th> -->
                    </thead>
                    <tbody>
                        {% for entry in advertisements %}
                        <tr>
                        <td>{{ entry.id }}</td>
                        <td>{{ entry.advertisement_name }}</td>
                        <td>{{ entry.campaign_id }}</td>
                        <td>{{ entry.niche_id }}</td>
                        <td>{{ entry.budget }}</td>
                        <td>{{ entry.status }}</td>
                        {% endfor %} 
                    </tbody>

                </table>
            </div>
        </section>
</body>
</html>