<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Users</title>
</head>
<body>
    <div class="row">
        <div class="container">
            <h1 class="navi">{% block title %} INFLUENZE {% endblock title %}</h1>
        </div>
        <div class="container">
            <h1 class="card">
                <a class="btn btn-underline" role="button" href="sponsorlogin" >Sponsor</a>
            </h1>
            <h1 class="card">
                <a class="btn btn-underline" role="button" href="influencerlogin" >Influencer</a>
            </h1>
            <h1 class="card">
                <a class="btn btn-underline" role="button" href="adminlogin" >Admin</a>  
            </h1>
        </div>
    </div>
    
</body>
</html>