<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">   
</head>
<body>
    <div class="main-content">
        <header>
            <h1>Welcome {{user.user_name}}</h1>
        </header>
        <section id="Advertisements">
            <h2>Requests</h2>
            <div class="box"></div>
            <div class="table-container">
                <table>
                    <thead>
                            <th>AdvertisementID</th>
                            <th>Advertisement Name</th>
                            <th>Campaign ID</th>
                            <th>Campaign Niche</th>
                            <th>Provided Budget</th>
                            <th>Status</th>
                            <!-- <th>Notes</th> -->
                    </thead>
                    <tbody>
                        {% for entry in advertisement_request %}
                        <tr>
                        <td>{{ entry.id }}</td>
                        <td>{{ entry.advertisement_name }}</td>
                        <td>{{ entry.campaign_id }}</td>
                        <td>{{ entry.niche_id }}</td>
                        <td>{{ entry.budget }}</td>
                        <td>{{ entry.status }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('influencer_dashboard') }}">
                            <input type="hidden" name="accept" value="{{ entry.id }}">
                            <button type="submit">Accept</button>
                            </form>
                        </td>  
                        <td>
                            <form method="POST" action="{{ url_for('influencer_dashboard') }}">
                            <input type="hidden" name="reject" value="{{ entry.id }}">
                            <button type="submit">Reject</button>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="{{ url_for('influencer_dashboard') }}">
                                <input type="text" class="form-control" id="value" name="value" placeholder="value">
                            <input type="hidden" name="negotiate" value="{{ entry.id }}">
                            <button type="submit">Negotiate</button>
                            </form>
                        </td>   
                        </tr>
                        {% endfor %} 
                    </tbody>

                </table>
            </div>
        </section>

        <section id="Advertisements">
        <h2>Analytics</h2>
            <div class="box"></div>
            <div class="table-container">
                <table>
                    <thead>
                            <th>AdvertisementID</th>
                            <th>Advertisement Name</th>
                            <th>Campaign ID</th>
                            <th>Campaign Niche</th>
                            <th>Budget</th>
                            <th>Status</th>
                            <!-- <th>Notes</th> -->
                    </thead>
                    <tbody>
                        {% for entry in advertisements %}
                        <tr>
                        <td>{{ entry.id }}</td>
                        <td>{{ entry.advertisement_name }}</td>
                        <td>{{ entry.campaign_id }}</td>
                        <td>{{ entry.niche_id }}</td>
                        <td>{{ entry.budget }}</td>
                        <td>{{ entry.status }}</td>  
                        </tr>
                        {% endfor %} 
                    </tbody>

                </table>
            </div>
        </section>
        <section id="profile">
            <h2>Profile</h2>
            <p>User ID : {{user.user_id}}</p>
            <p>Influencer ID : {{user.influencer_id}}</p>
            <p>Mail ID : {{user.user_mail}}</p>
            <p>Influencer Reach : {{influencer.influencer_reach}}</p>
            <p>Influencer Rating : {{influencer.influencer_rating}}</p>
        </section>
        <section id="settings">
            <h2>Settings</h2>
            <p>This is the settings section.</p>
        </section>
    </div>
      <div class="sidebar">
        <h2>QuickAccess</h2>    
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
    <script src="script.js"></script>
</body>
</html>