<!DOCTYPE html>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">
</head>
<body>
    <div class="main-content">
        <header>
            <h1>Welcome {{current_user.user_name}}</h1>
        </header>
        <section id="analytics">
            <h2>Analytics</h2>
            <div class="box"></div>
            <div class="table-container">
                <table>
                    <thead>
                            <th>CampaignID</th>
                            <th>Campaign Name</th>
                            <th>Expected Revenue</th>
                            <th>Recieved Revenue</th>
                            <th>Success Rate</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Campaign Niche</th>
                            <th colspan="3"> Operations </th>
                    </thead>
                    <tbody>
                        {% for entry in campaign %}
                        <tr>
                        <td>{{ entry.campaign_id }}</td>
                        <td>{{ entry.campaign_name }}</td>
                        <td>{{ entry.revenue_expected }}</td>
                        <td>{{ entry.revenue_received }}</td>
                        <td>{{ entry.success_rate }}</td>
                        <td>{{ entry.start_date }}</td>
                        <td>{{ entry.end_date }}</td>
                        <td>{{ entry.campaign_niche }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('campaign_advertisement')}}">
                                <input type="hidden" name="campaign_id" value="{{ entry.campaign_id }}">
                                <input type="hidden" name="campaign_niche" value="{{ entry.campaign_niche }}">
                                <button type="submit" {% if entry.campaign_approval != 'Y' %}disabled{% endif %}>View</button>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="{{ url_for('delete_campaign') }}">
                            <input type="hidden" name="campaign_id" value="{{ entry.campaign_id }}">
                            <button type="submit" {% if entry.campaign_approval != 'Y' %}disabled{% endif %}>Delete</button>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="{{ url_for('update_campaign') }}">
                            <input type="hidden" name="campaign_id" value="{{ entry.campaign_id }}">
                            <button type="submit" {% if entry.campaign_approval != 'Y' %}disabled{% endif %}>Update</button>
                            </form>
                        </td>      
                        </tr>
                        {% endfor %} 
                    </tbody>

                </table>
            </div>
        </section>
        <section id="profile">
            <h2>Profile</h2>
            <p>User ID : {{user.id}}</p>
            <p>Sponsor ID : {{user.sponsor_id}}</p>
            <p>Mail ID : {{user.email}}</p>
            <p>Sponsor Company : {{sponsor.sponsor_company}}</p>
        </section>
        <section id="settings">
            <form method="GET" action="\sponsor\update">
                <div class="form-control">
                    <button type="submit" class='hehe'>
                        <h2>Settings</h2>
                    </button>
                </div>
            </form>
        </section>
    </div>
      <div class="sidebar">
        <h2>QuickAccess</h2>
        <ul>
            <li><a href="/sponsor/dashboard">Home</a></li>
            <li><a href="/sponsor/new_campaign">Begin Campaign</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/sponsor/negotiation">Negotiate Requests</li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</body>
</html>
